<<<<<<< HEAD
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
    <% @products.each do |product| %>
        <div class="col-xs-6 col-md-3">
            <div class="ibox">
                <div class="ibox-content product-box">

                    <div class="product-imitation">
                        <%= link_to product_path(product) do %>
                            <% if product.photo.present? %>
                            <%= image_tag(product.photo.image.thumb.url, class: "thumbnail") %>
                            <% else %>
                            <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
                            <% end %>
                        <% end %>
                    </div>
                    <div class="product-desc">
                                <span class="product-price">
                                    $ <%= product.price %>
                                </span>
                        <div class="product-name">
                            <%= product.title %>
                        </div>

                        <div class="small m-t-xs">
                            <%= truncate(product.description, length: 35) %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% end %>
    </div>
</div>

=======
<div class="row">
  <% @products.each do |product| %>
  <div class="col-xs-6 col-md-3">
    <%= link_to product_path(product) do %>
    <% if product.photo.present? %>
    <%= image_tag(product.photo.image.thumb.url, class: "thumbnail") %>
    <% else %>
    <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
    <% end %>
    <% end %>
  <%= product.title %> $ <%= product.price %>
</div>
<% end %>
</div>
>>>>>>> 961698b1369c8aae8de9fc786658e2e89ceca7de
